.idea/
Mailua_Ranch_Map01.png
__pycache__/
d3_coordinate_transformations.xlsx
data_original/Mailua_Ranch_Map01.png
domainModel/__pycache__/
info.log
lib/__pycache__/
matcher/__pycache__/
method/__pycache__/
sketchProcessor/.idea/
sketchProcessor/SketchClassification/__pycache__/
sketchProcessor/__pycache__/
sketchProcessor/config/__pycache__/
sketchProcessor/data/
sketchProcessor/helperLibraries/__pycache__/
sketchProcessor/helperLibraries/datasets/__pycache__/
sketchProcessor/helperLibraries/preprocessing/__pycache__/
sketchProcessor/helperLibraries/utils/__pycache__/
static/data/Thumbs.db
static/data/modified/robit_bata_drawing_sketch.png
static/data/modified/robit_bata_with_gcp_markers_n_labels.png
static/data/modified/tiles_256_raster/0/
static/data/modified/tiles_256_raster/1/
static/data/modified/tiles_256_raster/2/
static/data/modified/tiles_256_raster/3/
static/data/modified/tiles_256_raster/4/
static/data/modified/tiles_256_raster/5/
static/data/modified/tiles_256_raster/6/
static/data/modified/tiles_256_raster/7/
static/data/modified/tiles_256_raster/8/
static/data/modified/tiles_256_raster/tilemapresource.xml
static/js/d3/API.md
static/js/d3/CHANGES.md
static/js/d3/LICENSE
static/js/d3/README.md
static/js/d3/d3-tile-0.0.4/.eslintrc
static/js/d3/d3-tile-0.0.4/.gitignore
static/js/d3/d3-tile-0.0.4/.npmignore
static/js/d3/d3-tile-0.0.4/LICENSE
static/js/d3/d3-tile-0.0.4/README.md
static/js/d3/d3-tile-0.0.4/d3-tile.sublime-project
static/plainSketchProject/modified/
static/plainSketchProject/uploaded/Mailua_Ranch_Map01.png
