#nonSpatial_query_popup_div {
    width:360px;
    background: white;
    margin: auto;
    position: absolute;
}


#nonSpatial_query_resp_div{
    padding: 2px;
    width: 100%;
    font-family: Verdana;
    font-size: 12px;
    text-align: center;
}