
#spatial_query_popup_div{
    width:520px;
    background: white;
    alignment: center;
    margin: auto;
    position: absolute;

}

#query_builder{
    padding: 4px;
    margin: 2px;
    text-align: center;
    width: 100%;
    font-family: Verdana;
    font-size: 12px;
}

#spatial_query_resp_div{
    height: 150px;
    overflow-y: scroll;

}
#result_table{
    padding: 4px;
    text-align: center;
}



.approximate_tile{
    stroke: #117a8b;
    stroke-width: 1px;
    fill:#117a8b;
    opacity: 0.4;
}



