<!--
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="collapse navbar-collapse" id="button">
        <ul class="navbar-nav mr-auto mt-3 mt-xl-0">
            <li class="nav-item active">
                <button class="btn btn-outline-success my-2 my-sm-0"
                        type="submit"><span class="badge badge-success"> 1 </span> Process Sketch Map
                </button>

            </li>

            <li class="nav-item active">
                <button class="btn btn-outline-success my-2 my-sm-0"
                        type="submit"><span class="badge badge-success"> 2 </span> Qualify Sketch Map
                </button>

            </li>
            <li class="nav-item active">
                <button class="btn btn-outline-success my-2 my-sm-0"
                        type="submit"><span class="badge badge-success"> 3 </span> Qualify Base Map
                </button>

            </li>
            <li class="nav-item active">
                <button class="btn btn-outline-success my-2 my-sm-0"
                        type="submit"><span class="badge badge-success"> 4 </span> Align Maps
                </button>

            </li>


        </ul>
    </ul>

</nav>-->
<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <button class="btn btn-outline-success my-2 my-sm-0"
                type="submit"><span class="badge badge-success"> 1 </span> Process Sketch Map
        </button>
        <button type="button" class="btn btn-secondary">2</button>
        <button type="button" class="btn btn-secondary">3</button>
        <button type="button" class="btn btn-secondary">4</button>
    </div>
</div>