<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>editor</title>
</head>
<body>
<div id="editor_div" class="container-fluid">
        <div class = "row" style="padding: 2px">
            <div class = "col-4" >
                 <div id = "editor_tools_col_left"style="text-align: left" >
                </div>
            </div>
            <div class = "col-8">
                <div  id = "editor_tools_col_right" style="text-align: right" >
                </div>
            </div>
        </div>
</div>
</body>
</html>
