<div id="footer_div" class="container-fluid">
    <div class="row" style="padding: 2px;text-align: center">
        <div class="column" style="width: 33%;">
            <span>
                         <img src="../static/imgs/wwu.jpg" width="85" height="35" class="d-inline-block"
                              alt="logo">
                        <a style="color: white"><b>Institut für Geoinformatik |</b> <i>Heisenbergstraße 2
                            48149 Münster, Germany </i></a>
                    </span>
        </div>
        <div class="column" style="width: 33%">
            <span style="color: white">
                <div style="color: white"><b> Contact Us |</b>
                 <a><i>mchipofya@uni-muenster.de</i>
                 </a>
                    <div><i>Sahib.jan@uni-muenster.de</i></div>
                </div>
            </span>

        </div>
        <div class="column" style="width: 33%">
             <span>
                        <img src="../static/imgs/its4land.png" width="85" height="35" class="d-inline-block"
                             alt="logo">
                        <a style="color: white"><b> its4Land |</b> <i>Hengelosestraat 99 Enschede,Netherlands</i></a>
                    </span>
        </div>


    </div>
</div>