<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title> SmartSkeMa</title>
    <meta http-equiv="pragma" content="no-cashe">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control"
          content="no-store; no-cache; must-revalidate">
    <meta http-equiv="Cache-Control" content="post-check=0; pre-check=0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="../static/css/smartSkeMa.css">
    <link rel="stylesheet" href="../static/css/SmartSkemaSVGEditorStyles.css">
    <link rel="stylesheet" href="../static/css/w3Schools/w3.css">
    <link rel="stylesheet" href="../static/css/fonts/font-awesome.min-4.7.0.css">
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->

    <link rel="stylesheet" href="../static/css/jquery/jquery.confirm.min-3.3.0.css">
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min-4.0.0.css">

    <link rel="stylesheet" href="../static/css/jquery/chosen.min-1.5.1.css">
    <!-- <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min-4.0.0.css">-->
    <!--<link rel="stylesheet" href="../static/css/w3.css">-->


    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />-->


    <link rel="stylesheet" href="../static/css/mm_interaction_style.css">
    <link rel="stylesheet" href="../static/css/jquery/jquery-ui.css">
    <link rel="stylesheet" href="../static/css/tabulator.css">
    <link rel="stylesheet" href="../static/css/ladmInteractionForRRRs.css">
    <link rel="stylesheet" href="../static/css/spatialQueryProcessor.css">
    <link rel="stylesheet" href="../static/css/nonSpatialQueryProcessor.css">

    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->


    <script src="../static/js/shims/pathDataPolyfill.js" charset="utf-8"></script>
    <script src="../static/js/d3/d3.v4.13.0.js"></script>
    <script src="../static/js/d3/d3-geo.js"></script>
    <script src="../static/js/d3/d3-tile.v0.0.4.js"></script>
    <script src="../static/js/topojson/topojson-3.0.2.js"></script>
    <script src="./static/js/d3/d3-fetch/d3-fetch.min.js"></script>

    <script src="../static/js/ajax/jquery-1.11.1.min.js"></script>
    <script src="../static/js/ajax/popper.min.js"></script>
    <!--<script src="../static/js/ajax/jquery.min.js"></script>
    <script src="../static/js/ajax/jquery.min-3.3.1.js"></script>-->
    <script src="../static/js/ajax/jquery.confirm.min-3.3.0.js"></script>
    <script src="../static/js/ajax/chosen.jquery.min-1.5.1.js"></script>

    <script src="../static/js/bootstrap/bootstrap.min.4.0.0-beta.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="../static/js/tooltipManager.js"></script>
    <script src="../static/js/ladmInteractionForRRRs.js"></script>
    <script src="../static/js/nonSpatialQueryProcessor.js"></script>
    <script src="../static/js/spatialQueryProcessor.js"></script>
    <script src="../static/js/interaction.js"></script>
    <script src="../static/js/SMClassifier2.js"></script>
    <script src="../static/js/MMClassifier2.js"></script>
    <!--script src="../static/js/SmartSkeMa_SVG_editor.js" charset="utf-8"></--script>
    <--script src="../static/js/SmartSkeMa_JSON_SVG_editor.js" charset="utf-8"></script-->
    <script src="../static/js/smartskema_io.js" charset="utf-8"></script>
    <script src="../static/js/smartskema_data_loaders.js" defer></script>

    <!--  <script src="../static/js/projectMode_interactions.js" charset="utf-8"></script>-->
    <script src="../static/js/tabulator/jquery-ui.js"></script>
    <script src="../static/js/tabulator/tabulator.js"></script>
    <script src="../static/js/tabulator/tabulator_core.js"></script>
    <script src="../static/js/tabulator/jquery_wrapper.js"></script>
    <script src="../static/js/dataManager.js"></script>

    <!-- <script src='https://kit.fontawesome.com/a076d05399.js'></script>-->
</head>
<body>
<div>
    {% include "header.html" %}

    {%block body %}{% endblock %}

    {% include "footer.html" %}
</div>
</body>
</html>