{% extends 'layout_SmartSkeMa.html'%}

{% block body %}

<div >
    <table id = "main_table" class="table table-sm" style="width:100%" >

        <tr>
            <th id = "LoadedSketchMap">
           </th>
            <th id = "LoadedBaseMap">
            </th>
        </tr>
        <tr>
            <td id="sketchMapHolder"  align="left" style="width:50%">
                <div id="sketchmapplaceholder" align = "left" ></div>
            </td>

            <td id="baseMapHolder"  align="left" style="width:50%">
                <div id="metricmapplaceholder" align="left" ></div>
            </td>
        </tr>

    </table>
</div>
<div id = "test" class = "svg-container"></div>
<div id= "popup_div" class ="w3-panel w3-round w3-teal" style="visibility: hidden">

</div>
<div id="footer" class="container ">

        <div class="panel-footer text-center">
            <a href="https://its4land.com" target="_blank">its4land</a> | <a
                href="https://ifgi.uni-muenster.de" target="_blank">Institute
            for Geoinformatics, Munster</a> | <a
                href="https://www.uni-muenster.de/Geoinformatics/en/sil/index.html"
                rel="nofollow">Spatial Intelligence Lab Munster</a>
        </div>

</div>



{% endblock%}
