{% extends 'layout_SmartSkeMa.html'%}
<!--{{ JSGlue.include() }}-->
{% block body %}

<div >
    <div>
        {% include "includes/toolTip.html" %}
        {% include "contact.html" %}
        {% include "editor.html" %}


    </div>
    <div id="w3_container_div" class="container-fluid">

        <table id="main_table" class="table">

            <tr>
                <td id="sketchmapplaceholder" style="position: relative;padding: auto">

                </td>
                <td id="divider" class="vl" style="position: relative">
                </td>

                <td id="metricmapplaceholder" style="position: relative;padding: auto">

                </td>
            </tr>

        </table>

    </div>
    {% include "includes/otherHiddenDivs.html" %}

</div>
{% endblock%}

